@page "/"
@rendermode InteractiveServer

<PageTitle>Database Storage Types</PageTitle>

<h1>Database Storage Types</h1>

<p>This is a demo of different database storage types.</p>
<p>Click on the links below to explore different storage types:</p>
